body {

    background-color: rgb(25, 190, 141);
  
  }
  
  .wrapper {
  
       height: 210px;
       width: 328px;
       margin: 50px auto;
       border-radius: 7px 7px 7px 7px;
       -webkit-box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
       box-shadow: 0px 14px 32px 0px rgba(0,0,0,0,15);

  }
  
  
  #olive{
  float: left;
  height: 150px;
  width: 120px;
  border-radius: 5px 0 0 5px;

 }

 .produtoinfo {
 float: right;
 height: 180px;
 width: 170;
 border-radius: 0 7px 10px 7px;
 background-color: chartreuse;

 }


 .produtotexto {
 height: 150px;
 width: 125px;

 }



























 





